body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdown {
  position: relative !important;
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  z-index: 1; 
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.dropdown-content a {
  border-radius: 20px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content div.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-top: solid 1px black;
}

.dropdown-content div:hover.dropdown-item {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-button {
  position: relative;
  top: 5px;
}

.prompt {
  position: relative;
  bottom: 5px;
  color: rgb(0, 51, 51);
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

/* Style do widoku product details -- gwiazdeczki ---*/
.rating {
  display: flex;
  transform: rotateY(180deg);
}

.rating input {
  display: none;
}

.rating label {
  display: block;
  cursor: pointer;
  width: 25px;
}

.rating label:before {
  content: "\f005";
  font-family: fontAwesome;
  color: darkgrey;
  position: absolute;
  display: block;
  top: -4px;
  font-size: 20px;
}

.rating label:after {
  content: "\f005";
  font-family: fontAwesome;
  color: rgb(0, 119, 255);
  position: relative;
  display: block;
  opacity: 0;
  top: -7px;
  right: 4px;
  font-size: 25px;
  transition: 0.5s;
  text-shadow: 0 2pc 5pc rgba(0, 0, 0, 0.5);
  margin-bottom: -10px;
}

.rating label:hover:after,
.rating label:hover ~ label:after {
  opacity: 1;
}

.rating input:checked ~ label:after {
  opacity: 1;
}

.comment-section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid lightgrey;
  background-color: white;
  padding: 20px;
  width: 100%;
}

.comment-bubble {
  margin-top: 5px;
  border-top: 1px solid rgb(100, 100, 100);
  background-color: white;

  width: 100%;
  min-height: 100px;
}

.comment-bubble-header {
  width: 100%;
  background-color: rgb(230, 230, 230);
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  justify-content: space-between;
}

.comment-bubble-header label {
  display: inline-block;
}

.comment-bubble-content {
  padding: 10px;
}

.dropzone {
  background: rgb(236, 236, 236);
  border: 2px dashed grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images-panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-object {
  display: block;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 5px
}

.image-exit-icon {
  color: red;
  font-size: 20px;
  position: relative;
  top: 40px;
  left: 170px;
}

.image-gallery {
  width: 100%;
  max-height: 600px;
}

.image-gallery-slide img {
  width: 100%;
  height: auto;
  max-height: 450px !important;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
}